<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                timestamp=%d{yyyy-MM-dd HH:mm:ss.SSS}|logLevel=%p|thread=%t|logMessage=%m%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="OFF"/>
    <logger name="org.apache.camel" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="stdout"/>
    </root>

</configuration>